<h2>Hero List</h2>
<button type="button" class="button" (click)="deleteHero()">Delete</button>

<div *ngIf="heroDeleted else noHeroDeleted">
  <h3 class="text-danger">Hero deleted: {{ heroDeleted }}</h3>
</div>

<div *ngIf="heroes.length === 0">
  <h3>No heroes</h3>
</div>

<ng-template #noHeroDeleted>
  <h3>No hero deleted yet</h3>
</ng-template>

<ng-template #noHeroes>
</ng-template>

<div class="hero-grid">
  <dl *ngFor="let hero of heroes">
    <td>Alterego:</td>
    <dd><strong>{{ hero.heroName }}</strong></dd>

    <td>Real Name:</td>
    <dd><strong>{{ hero.name }}</strong></dd>
  </dl>
</div>

